#
# Filetype ignores
#
*.log
*.db
*.db-shm
*.db-wal
*.pyc
*.py
*.json
._*
__pycache__
*.conf
*.log.1
*.gz
*.backup
*.svg
*.png
*.JPG
*.jpg
*.js.map
*.html
*.zip
*.txt
#
# Whitelist
#
!*.yaml
!.gitignore
!*.md
!scripts.yaml
!.gitkeep
#
# Folder ignores
#
.storage
.cloud
.google.token
.ssh
.vscode
tts
node-red
deps
www/community
www/tmp
#
# Specific File ignores
#
.config_entries.json
.homekit.state
.ios.conf
.spotify-token-cache
.google.token
.tradfri_psk.conf
.uuid
core
html5_push_registrations.conf
image
ip_bans.yaml
known_devices.yaml
neighbours
secrets.yaml
google_calendars.yaml
frigate.yml
.ps4-games.BC60A7BEDB04_cc99.json
token-192.168.178.70.txt
index.html
rtsp2webrtc_v4_aarch64
home-assistant.log
.cloud
.storage
rtsp2webrtc_v5_aarch64
home-assistant.log.fault
go2rtc-1.8.5




