.-wall_switch.-th-switch{background-color:#34b67a}
.-wall_switch.-th-switch.-loading{background-color:#7bd0a9}
.-wall_switch.-th-switch.-on{background-color:#0F9D58}

.-ceiling_light.-th-light{background-color:#fbcb43}
.-ceiling_light.-th-light.-loading{background-color:#fbcb43}
.-ceiling_light.-th-light.-on{background-color:#f5b400}

.item.-light{transition:background-color .2s ease}
.item.-light.-loading,
.item.-light.-on{transition:none}

.-door_sensor.-th-lock{background-color:#77a7fb}
.-door_sensor.-th-lock.-loading{background-color:#a0c2ff}
.-door_sensor.-th-lock.-locked{background-color:#4385f5}

.-homematic_heizung.-th-climate{background-color:#b2b2b2}

.-mediaplayer.-th-media_player{background-color:#dc4437}

.-script.-th-script{background-color:#ffffff}

.-popup.-th-popup_iframe{background-color:#cfcfc7}
.-popup.-th-popup{background-color:#cccccc}
/*  .-popup.item{color:#b2b2b2}*/

.-custom.-th-custom{background-color:#dc4437}

.-camera.-th-camera
.-th-camera_stream{background-color:#dc4437}
.item.-th-camera_stream{background-color:#dc4437}
.item-camera{background-color:#dc4437}
.item-image{width:100%;height:100%;background-size:cover;background-position:50%}
.item.-th-camera,.item.-th-camera_stream{background-color:#dc4437}
.screensaver{position:fixed;left:0;right:0;bottom:0;top:0;z-index:50;background:#dc4437}
.item-clickable{opacity:0}
.camera-popup--list-item.-active{color:#eee;background:#b2b2b2}
.camera-popup--camera{width:calc(100% - 220px);height:100%;display:inline-block;vertical-align:top;background:#e6e6e6}
.camera-popup-title,.popup-title{background:#b2b2b2;color:hsla(0,0%,100%,.6);font-size:20px;height:50px;line-height:50px;overflow:hidden;text-overflow:ellipsis;padding-right:10px;white-space:nowrap}
.camera-popup--list-item{padding:6px 10px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;color:#666666;cursor:pointer}
.camera-popup--list-item.-active{color:#eee;background:#666666}

.item-select--option:active{background:#b2b2b2}
.item-select--option:active{background:#b2b2b2}
.item-select{position:absolute;z-index:7;left:60%;top:50%;background:#666666;border:1px solid #bbb;max-height:360px;overflow-y:auto;overflow-x:hidden}

.item.-unavailable .item-entity--icon{opacity:.65}

.-lightmode.item{color:#b2b2b2}
.-lightmode.-th-script{background-color:#fff}
.-lightmode.-th-script.-loading{background-color:#ffe167}
.-lightmode.-th-script.-on{background-color:#fff}


.item.-th-weather,.item.-th-weather_list{background-color:#b2b2b2}

.pages-menu--item{display:block;border-radius:100%;width:70px;height:70px;font-size:32px;color:#b2b2b2;line-height:70px;text-align:center;opacity:.5;margin:5px auto;vertical-align:middle;cursor:pointer}
.pages-menu--item:active{background-color:rgba(0,0,0,.3);opacity:.9}.pages-menu--item.-active{background-color:rgba(0,0,0,.1);opacity:1}


.popup-title{background:#e6e6e6;color:hsla(0,0%,100%,.6);font-size:20px;height:50px;line-height:50px;overflow:hidden;text-overflow:ellipsis;padding-right:10px;white-space:nowrap}
.popup-close{float:left;text-align:center;color:hsla(0,0%,100%,.6);width:50px;height:50px;line-height:50px;padding-left:5px;font-size:25px;cursor:pointer}
.popup-container{background:#b2b2b2;overflow:hidden;white-space:nowrap;position:relative;margin:auto}
.popup-close:active{color:hsla(0,0%,100%,.8);background:rgba(0,0,0,.3)}
.popup--tiles{position:relative;top:0;left:0;box-sizing:border-box;margin:15px;max-width:calc(100% - 30px);min-width:calc(100% - 30px);max-height:calc(var(--vh, 1vh)*100 - 160px)}

.camera-popup-title,.popup-title{background:#b2b2b2;color:hsla(0,0%,100%,.6);font-size:20px;height:50px;line-height:50px;overflow:hidden;text-overflow:ellipsis;padding-right:10px;white-space:nowrap}
.camera-popup-container,.popup-container{background:#e6e6e6;overflow:hidden;white-space:nowrap;position:relative;margin:auto}

.page-head{position:absolute;z-index:2;left:130px;right:130px;font-size:14px;top:0;color:#b2b2b2}
.page-head--time{font-size:64px;margin-left:15px}
.header{position:absolute;z-index:2;left:0;right:0;top:0;font-size:20px;color:#b2b2b2;pointer-events:none}
.group{display:inline-block;font-size:0;vertical-align:middle;margin:35px 50px 35px 15px;position:relative}
.group-title{font-size:19px;height:35px;position:relative;top:-35px;color:#b2b2b2;font-weight:450;opacity:.8}